*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.header h3{
    cursor: pointer;
    font-size: 25px;
    margin-left: 90px;
}
.header .links a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.422);
    font-size: 18px;
    margin-left: 45px;
}
.header .links{
    margin-top: 10px;
}
.header #active{
    color: rgba(0, 0, 0, 0.712);
}
.header .links a:hover{
    color: rgba(0, 0, 0, 0.712);
}
.header .ref a{
    text-decoration: none;
    color: black;
    border: 1px solid;
    padding: 10px;
    border-radius: 8px;
    margin-left: 7px;
}
.header .ref a i{
    margin-right: 8px;
}
.header .ref a span{
    font-size: 18px;
}
.header .ref a:hover{
    background-color: rgba(0, 0, 0, 0.768);
    color: rgba(255, 255, 255, 0.886);
}
.header .ref{
    margin-top: 10px;
}
.main .header{
    display: flex;
    margin: 0px 10px;
    column-gap: 230px;
    position:sticky;
    top:0px;
    z-index: 10;
    background:white;
    height: 90px;
    padding: 10px 0px;

}